<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
    <label>我的頭像</label>
    <%= image_tag book.avatar.small_thumb.url if book.avatar? %>
    <%= form.file_field :avatar %>
  </p>
    <p>
    <label>
      <%= form.check_box :remove_avatar %>
      刪除頭像
    </label>
  </p>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_area :isbn %>
  </div>

  <div class="field">
    <%= form.label :publish_date %>
    <%= form.date_select :publish_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
